<div style="max-width: 100%">
    <form id="realTimeFormCreate">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="" required>
        <br>
        <label class="form-label">Description</label>
        <input type="text" name="description" class="form-control" id="" required>
        <br>
        <label class="form-label">Price</label>
        <input type="number" name="price" class="form-control" id="" required>
        <br>
        <label class="form-label">Thumbnail</label>
        <input type="file" name="thumbnail" class="form-control" id="" disabled>
        <br>
        <label class="form-label">Code</label>
        <input type="text" name="code" class="form-control" id="" required>
        <br>
        <label class="form-label">Stock</label>
        <input type="number" name="stock" class="form-control" id="">
        <br>
        <label class="form-label">Category</label>
        <input type="text" name="category" class="form-control" id="" required>
        <br>
        <button type="submit" class="btn btn-primary mb-4">Cargar</button>
    </form>
</div>