<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>
                <b>First Name:</b>
                {{first_name}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Last Name:</b>
                {{last_name}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Email:</b>
                {{email}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Rol:</b>
                {{rol}}
            </div>
        </li>
    </ul>
    <br>
    <hr>
    <a class="btn btn-primary" style="width: 100%;" href="/api/v1/sesssion/logout">Logout</a>
</div>